<template name="SignUp">
  <div class="panel panel-default">
    <div class="panel-heading">Sign-up</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="signUpEmail">Email</label>
          <input type="email" idd="signUpEmail" class="form-control" placeholder="Email address">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="signUpPassword" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</template>