<template name="App_body">
  <div id="container" class="container {{cordova}}">
    <section id="header">
      {{> PageHeader}}
    </section>

    {{#unless connected}}
    <div class="notifications">
      <div class="notification">
        <span class="icon-sync"></span>
        <div class="meta">
          <div class="title-notification">Trying to connect</div>
          <div class="description">There seems to be a connection issue</div>
        </div>
      </div>
    </div>
    {{/unless}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> Template.dynamic template=main}}
    </div>

  </div>

</template>